<nav class="flex items-center justify-between bg-indigo-500 p-6 mb-10">
  <div class="flex items-center flex-shrink-0 text-white mr-6">
    <span class="font-semibold text-4xl tracking-tight">Today I Learned.</span>
  </div>
  <div class="flex items-right w-auto">
    <% if user_signed_in? %>
      <div>
        <%= link_to 'Dashboard', user_root_path, class: "inline-block text-lg px-4 py-2 leading-none text-white hover:text-indigo-900" %>
        <%= link_to "Log Out", destroy_user_session_path, :method => :delete, class: "inline-block text-lg px-4 py-2 leading-none text-white hover:text-indigo-900" %>
      </div>
    <% end %>
  </div>
</nav>
