<% if notice %>
  <div class="alert-banner">
    <div class="container mx-auto">
      <input type="checkbox" class="hidden" id="banneralert">
      <div class="flex justify-center">
        <div class="w-4/12 shadow-xl object-center p-6 bg-white rounded-md">
          <label for="banneralert">
            <div class="bg-green-200 border-l-4 border-green-500 text-green-700 p-4 rounded-sm" role="alert">
              <span class="font-bold">
                <%= notice %>
                <svg class="fill-current text-green-500 inline h-6 float-right" role="button" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><title>Close</title><path d="M14.348 14.849a1.2 1.2 0 0 1-1.697 0L10 11.819l-2.651 3.029a1.2 1.2 0 1 1-1.697-1.697l2.758-3.15-2.759-3.152a1.2 1.2 0 1 1 1.697-1.697L10 8.183l2.651-3.031a1.2 1.2 0 1 1 1.697 1.697l-2.758 3.152 2.758 3.15a1.2 1.2 0 0 1 0 1.698z"/></svg>
              </span>
            </div>
          </label>
        </div>
      </div>
    </div>
  </div>
<% end  %>
<% if alert %>
  <div class="alert-banner">
    <div class="container mx-auto">
      <input type="checkbox" class="hidden" id="banneralert">
      <div class="flex justify-center">
        <div class="w-4/12 shadow-xl object-center p-6 bg-white rounded-md">
          <label for="banneralert">
            <div class="bg-red-200 border-l-4 border-red-500 text-red-700 p-4 rounded-sm" role="alert">
              <span class="font-bold">
                <%= alert %>
                <svg class="fill-current text-red-500 inline h-6 float-right" role="button" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><title>Close</title><path d="M14.348 14.849a1.2 1.2 0 0 1-1.697 0L10 11.819l-2.651 3.029a1.2 1.2 0 1 1-1.697-1.697l2.758-3.15-2.759-3.152a1.2 1.2 0 1 1 1.697-1.697L10 8.183l2.651-3.031a1.2 1.2 0 1 1 1.697 1.697l-2.758 3.152 2.758 3.15a1.2 1.2 0 0 1 0 1.698z"/></svg>
              </span>
            </div>
          </label>
        </div>
      </div>
    </div>
  </div>
<% end  %>
