<div class='container mx-auto shadow-xl p-4 md:p-10 bg-white rounded-md mb-10'>
  <% @posts.each do |post| %>
    <div class="mb-6 md:mb-10">
      <%= link_to post.title, post_path(post.id), class: 'text-gray-700 text-xl md:text-3xl pt-4 hover:text-gray-900' %>
      <p class='text-gray-500 text-sm'>
        Posted on <%= post.formatted_date %>
      </p>
    </div>
  <% end %>
  <div class="post_pagination">
    <%=
      will_paginate(
        @posts,
        container: false,
        inner_window: 0,
        outer_window: 0,
        previous_label: h('<'),
        next_label: h('>')
      )
    %>
    <div class="page_info">
      <%= page_entries_info @posts %>
    </div>
  </div>
</div>
