<div class='container mx-auto shadow-xl p-10 bg-white rounded-md mb-10'>
  <h1 class='text-gray-700 text-4xl font-bold'>
    <%= @post.title %>
  </h1>
  <p class='text-gray-500 mb-10 text-sm'>
    Posted on <%= @post.formatted_date %>
  </p>
  <div id="post-body">
    <%= @post.body %>
  </div>
</div>
